@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.fixed{
    position: fixed !important;
    /* it looks like there is !important in daisy ui library   */
}












